/* Estilos del cuerpo */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #cceeff, #f0f0f0); /* Gradiente para el fondo */
}

/* Contenedor principal */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%; /* Imagen de fondo fija */
    background-size: cover;
}

/* Caja flexible */
.flex-box {
    display: flex;
    width: 95%; /* Ajusta el ancho para un mejor diseño en pantalla completa */
    height: auto;
    margin-top: 5px; /* Deja espacio para la barra de navegación */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente para destacar contenido */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para un efecto de profundidad */
    border-radius: 10px;
    overflow: hidden;
}

/* Contenedor de texto */
.text-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/* Contenedor de imagen */
.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:lightskyblue ;
    
}

/* Imagen */
.pictures {
    max-width: 45%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px; /* Borde redondeado para la imagen */
}
