/* Caja flexible */


.flex-box {
  display: flex;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

/* Contenedor de texto */
.text-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #fff;
}

h1 {
  font-size: 2rem;
  font-family: "Figtree", serif;
  font-optical-sizing: auto;
  font-size: 4.5rem;
  font-weight: 600;
}

/* Contenedor de imagen */
.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

/* Imagen */
.pictures {
  max-width: 100%; /* Ajusta el tamaño según lo que necesites */
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
