.container-fluid {
  background-color: #5CC3FF;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  margin: 10px 20px; /* Ajustar para reducir los márgenes */
  height: auto; /* Permitir que la altura se ajuste automáticamente */
}

/* Hacer que la barra de navegación responda mejor a diferentes tamaños de pantalla */
.navbar-expand-lg {
  border-radius: 15px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between; /* Alinea los elementos de forma uniforme */
}

.navbar-brand, .nav-item {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
  margin-left: 1rem; /* Asegurar consistencia en el espaciado */
}

/* Asegurar que el logo y el título estén alineados */
.logo {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 0.5rem;
}

/* Ajustar el espaciado entre los elementos del menú */
.nav-item {
  margin-left: 1.5rem;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-log {
  margin-left: 40rem;
  text-align: right;
}

/* Mejora la responsividad en pantallas más pequeñas */
.navbar-toggler {
  margin-left: auto;
}

/* Mantén la barra de navegación visible y con un estilo consistente */
.custom-navbar {
  background-color: #5CC3FF;
  border-radius: 15px;
  padding: 0.5rem 1rem;
}

/* Estilo para el dropdown */
.dropdown-menu {
  border-radius: 10px;
  background-color: #f0f0f0;
}

.dropdown-item {
  font-family: "Itim", cursive;
  padding: 0.5rem 1rem;
  text-align: left;
}
