/* Estilos para el navbar */
.container-fluid {
  background-color: #5CC3FF;
  padding: 0.5rem 1rem;
  margin: 10px 20px;
  height: 2rem;
}

.navbar-expand-lg {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}

.navbar-brand, .nav-item {
  font-family: "Itim", cursive;
  font-weight: 400;
  margin-left: 1rem;
}

.logo {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 0.5rem;
}

.nav-item {
  margin-left: 1.5rem;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-log {
  text-align: right;
}

.navbar-toggler {
  margin-left: auto;
}

.custom-navbar {
  background-color: #5CC3FF;
  padding: 0.5rem 1rem;
}

.dropdown-menu {
  border-radius: 10px;
  background-color: #f0f0f0;
}

.dropdown-item {
  font-family: "Itim", cursive;
  padding: 0.5rem 1rem;
  text-align: left;
}

/* Submenú horizontal de productos */
.productos-submenu {
  position: absolute;
  top: 100%; /* Justo debajo del navbar */
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding: 1rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.custom-submenu .nav-link {
  color: #000000;
  font-family: "Itim", cursive;
  font-weight: 400;
  text-align: center;
  margin: 0 20px;
  cursor: pointer;
}

.custom-submenu .nav-link:hover {
  color: #5CC3FF;
  text-decoration: underline;
}

/* Asegura que los items estén en línea */
.custom-submenu .navbar-nav {
  display: flex;
  flex-direction: row; /* Alinea los items horizontalmente */
  justify-content: center; /* Centra los items */
}

.navbar-nav .btn-link {
  color: rgba(255, 255, 255, 0.55); /* Mismo color que los otros enlaces */
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  font-family: "Itim", cursive;
  font-weight: 400;
  margin-left: 1.5rem;
}

.navbar-nav .btn-link:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

.navbar-nav .btn-link:focus {
  box-shadow: none;
}

/* Ajusta el 'nav-link' cuando se usa con un botón */
.navbar-nav .btn-link.nav-link {
  display: inline-block;
}

/* Submenú horizontal de productos */
.productos-submenu {
  position: absolute;
  top: 100%; /* Justo debajo del navbar */
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding: 0.5rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.custom-submenu .nav-link {
  color: #000000;
  font-family: "Itim", cursive;
  font-weight: 400;
  text-align: center;
  margin: 0 20px;
  cursor: pointer;
}

.custom-submenu .nav-link:hover {
  color: #5CC3FF;
  text-decoration: underline;
}

/* Asegura que los items estén en línea y centrados */
.custom-submenu .navbar-nav {
  display: flex;
  flex-direction: row; /* Alinea los items horizontalmente */
  justify-content: center; /* Centra los items */
}
