<app-navbar></app-navbar>

<div class="flex-container">
  <div class="text-container text-center">
      <h1>Cobijas</h1>
      <hr>
  </div>
</div>

<div class="card-container">
  <div *ngFor="let producto of productos" class="card">
    <img [src]="producto.imagen" class="card-img-top" alt="{{ producto.titulo }}">
    <div class="card-body">
        <div class="card-content">
            <h5 class="card-title">{{ producto.titulo }}</h5>
            <p class="card-text">{{ producto.precio | currency:'USD':true:'1.0-0' }}</p>
            <a (click)="navegarAlProducto(producto.idproducto)" class="btn btn-primary">
              Ver más
            </a>


        </div>
    </div>
</div>

</div>
