body{
    background-color:#ebf8ff ;
}

.card{
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #d1eeff;
    border-radius: 3rem;
}

.flex-container {
    display: flex;
    justify-content: space-between; /* Opcional: para espacio entre elementos */
    align-items: flex-start; /* Alinear elementos al inicio */
}

.text-container {
    font-family: Itim;
    color: #144166;
    margin-left: 5rem;
    margin-right: 5rem; /* Ajustado para evitar demasiado margen */
    margin-top: 5rem;
    font-size: 1.5rem;
    flex: 1; /* Permite que el contenedor se ajuste dentro del espacio disponible */
}

.picture-container {
    flex: 1; /* Ajuste opcional, permite que este contenedor se adapte al espacio */
}

.empezar {
    margin-top: 2rem;
    margin-left: 5rem;
    height: 30rem;
    flex: 1; /* Para que ocupe el mismo espacio que los otros contenedores */
}
