<app-navbar></app-navbar>

<div class="card">
    <div class="flex-container">
        <div class="text-container text-center">
            <h1>Para Empezar</h1>
            <img class="empezar" src="../assets/pictures/Santo.png" alt="Carlo Acutis">
        </div>
    </div>
</div>

<div class="container py-4">

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3 custom-card" id="card1">
                <h2>Productos con Propósito Espiritual</h2>
                <p>Nuestros productos son hechos en oración, desde el diseño hasta el envío de cada producto, oramos por quien va a recibir nuestros regalitos de Fe.</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="h-100 p-5 bg-body-tertiary border rounded-3 custom-card" id="card2">
                <h2>Creado por Mamás en su Principal Misión</h2>
                <p>Quienes hacen cada producto son mamitas que están en casa en su principal misión como esposas y madres.</p>
            </div>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3 custom-card blue" id="card3">
                <h2>Evangelización y Protección de la Inocencia Infantil</h2>
                <p>Nuestra misión principal es la evangelización pero especialmente guardar la pureza e inocencia de los niños, que Jesús, María, San José y Los Santos sean su ejemplo a seguir.</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="h-100 p-5 bg-body-tertiary border rounded-3 custom-card" id="card4">
                <h2>Fe y Devoción en Cada Paso de Nuestro Trabajo</h2>
                <p>La eucaristía, el rezo del santo Rosario y la visita al Santísimo son pilares fundamentales de nuestro trabajo.</p>
            </div>
        </div>
    </div>

    <footer class="pt-3 mt-4 text-body-secondary border-top">
        &copy; 2024
    </footer>
</div>
