<body>
    <div class="card">
        <div class="flex-container">
            <div class="text-container">
            <p>
            1.Nuestros productos son hechos en oración, desde el diseño hasta el envío de cada producto, oramos por quien va a recibir nuestros regalitos de Fe!<br>
            2.Quienes hacen cada producto son mamitas que están en casa en su principal misión como esposas y madres.<br>
            3.La eucaristía, el rezo del santo Rosario y la visita al Santísimo son pilares fundamentales de nuestro trabajo.<br>
            4.Nuestra misión principal es la evangelización pero especialmente guardar la pureza e inocencia de los niños, que Jesús María, San José y Los Santos Sean su ejemplo a seguir.
            </p>
            </div>

            <div class="picture-container">
            <img class="empezar" src="../assets/pictures/Santo.png" alt="Carlo Acutis">
            </div>
        </div>
    </div>
</body>