body {
  background-color: #ebf8ff;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Colocar los elementos en columna */
}

.text-container {
  font-family: Itim;
  color: #144166;
  margin: 1rem auto;
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.empezar {
  margin-top: 2rem;
  height: 30rem;
}

/* Cambiar color de fondo de las tarjetas con clase personalizada */
.custom-card {
  transition: background-color 0.3s ease;
  margin-bottom: 1rem;
}

/* Colores específicos para cada tarjeta */

/* Tarjeta 1 (oscura) */
#card1.custom-card {
  background-color: #d1eeff !important; /* Color oscuro */
  color: #000000 !important; /* Texto blanco */
}

/* Tarjeta 2 (clara) */
#card2.custom-card {
  background-color: #f8f9fa !important; /* Color claro */
  color: #000000 !important; /* Texto negro */
}

/* Tarjeta 3 (oscura) */
#card3.custom-card {
  background-color: #f8f9fa !important; /* Color claro */
  color: #000000 !important; /* Texto negro */
}

/* Tarjeta 4 (clara) */
#card4.custom-card {
  background-color: #d1eeff !important; /* Color oscuro */
  color: #000000 !important; /* Texto blanco */
}

/* Cambiar color al pasar el mouse por encima */
.custom-card:hover {
  background-color: #92d7ff !important; /* Color oscuro */
  color: #000000 !important; /* Texto blanco */
}

