<app-navbar></app-navbar>

<div class="container">
  <div class="shopping-cart" *ngIf="cart.length > 0; else emptyCart">
    <h1>Carrito</h1>
    <h2>{{ cart.length }} Items</h2>

    <table>
      <thead>
        <tr>
          <th>Detalles del Producto</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Tamaño</th>
          <th>Color</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart; let i = index">
          <td class="product-details">
            <img [src]="item.imagen" alt="{{ item.titulo }}" />
            <div class="product-info">
              <p>{{ item.titulo }}</p>
              <span>{{ item.categoria }}</span>
              <br>
              <a href="#" (click)="removeFromCart(i, $event)">Remover</a>
            </div>
          </td>
          <td>
            <div class="quantity">
              <button (click)="decreaseQuantity(i)">-</button>
              <input type="text" [value]="item.quantity" readonly>
              <button (click)="increaseQuantity(i)">+</button>
            </div>
          </td>
          <td>{{ item.precio | currency:'USD' }}</td>
          <td>{{ item.tamano}}</td> <!-- Mostrar tamaño -->
          <td>{{ item.color}}</td>
          <td>{{ (item.precio * item.quantity) | currency:'USD' }}</td>
        </tr>
      </tbody>
    </table>

    <a href="#" class="continue-shopping" (click)="continueShopping()">← Continuar comprando</a>
  </div>

  <!-- Envolver en una card gris -->
  <div class="order-summary card-gray" *ngIf="cart.length > 0">
    <h2>Resumen del Pedido</h2>
    <div class="summary-details">
      <p>Items <span>{{ cart.length }}</span></p>
      <p>Envio <span>{{ shippingCost | currency:'USD' }}</span></p>
    </div>
    <div class="promo-code">
      <label for="promo">Código de descuento</label>
      <input type="text" id="promo" placeholder="Ingresa tu código">
      <button>Aplicar</button>
    </div>
    <div class="total-cost">
      <p>Total: <span>{{ getTotalCost() | currency:'USD' }}</span></p>
    </div>

    <!-- Mensaje personalizado -->
    <div class="promo-code">
      <label for="customMessage">Mensaje o detalle adicional:</label>
      <textarea id="customMessage" [(ngModel)]="customMessage" placeholder="Escribe algún detalle adicional..."></textarea>
    </div>

    <button class="checkout-btn" (click)="sendWhatsApp()">Confirmar y enviar por WhatsApp</button>
  </div>

  <ng-template #emptyCart>
    <h2>Tu carrito está vacío</h2>
  </ng-template>
</div>
