.container-fluid{
    background-color: #5CC3FF;
    border-radius: 15px;
    margin: 20px;
    height: 3rem;
    
}

.custom-navbar {
    background-color: #5CC3FF;
}

.navbar-brand{
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

.nav-item{
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

.navbar-expand-lg {
border-radius: 15px;
}

.logo{
    height: 2.5rem;
    width: 2.5rem ;
}

.navbar-brand{
margin-left: 1rem;
}