/* Aplica la fuente Nunito a todo el documento */
body {
  font-family: 'Nunito', sans-serif;
}

/* Estructura de Dashboard */
.dashboard-container {
  display: flex;
  min-height: 100vh;
  padding: 20px;
  background-color: #f0f2f5;
}

.sidebar {
  width: 20%;
  background-color: #5CC3FF;
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin-right: 10px;
  padding: 20px;
}

.sidebar-header {
  text-align: center;
  font-size: 2rem;
  padding: 20px 0;
  border-bottom: 1px solid #3b3f4d;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
}

.sidebar-nav ul li {
  padding: 15px 20px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.sidebar-nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-nav ul li a i {
  font-size: 1.5rem;
}

.sidebar-nav ul li:hover {
  background-color: #3b3f4d;
  border-radius: 15px;
}

.main-content {
  width: 80%;
  padding: 0px 20px 20px 20px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}

/* Cards */
.cards-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
}

.card {
  width: 23%;
  background-color: #f5f5f5;
  color: white;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.card i {
  font-size: 2rem;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 2rem; /* Tamaño reducido */
  margin: 0;
}

.card p {
  font-size: 1rem; /* Tamaño reducido */
  margin-top: 10px;
}

.card.blue {
  background-color: #f94144;
}

.card.purple {
  background-color: #ff9f1c;
}

.card.violet {
  background-color: #6eeb83;
}

.card.orange {
  background-color: #00bbf9;
}

.card button {
  background-color: #00bbf9;
  color: white;
  border: 2px solid #00bbf9;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card button:hover {
  background-color: white;
  color: #00bbf9;
  border: 2px solid #00bbf9;
}

/* Tabla de Productos */
.product-table {
  margin-top: 20px;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  table-layout: auto;
}

.product-table table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
}

.product-table th, .product-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word;
}

.product-table th {
  background-color: #f5f5f5;
  text-align: center;
}

.product-table td {
  text-align: center;
}

.product-table img {
  width: 100px;
  border-radius: 10px;
}

.action-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.edit-button {
  background-color: #36c9ab;
}

.delete-button {
  background-color: #f44336;
}

.action-button:hover {
  opacity: 0.9;
}

/* Estilos comunes para el diálogo */
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1200;
}

.dialog-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 900px;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Estilos específicos para el diálogo de productos */
.product-dialog {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 20px;
}

.product-dialog h2 {
  grid-column: span 2;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

/* Cuadro para la imagen en el diálogo de productos */
.product-dialog .image-upload {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ddd;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.product-dialog .image-upload img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.product-dialog .upload-button {
  position: absolute;
  bottom: 10px;
  background-color: #ffffff;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.product-dialog .upload-button input[type="file"] {
  display: none;
}

/* Nombre de la imagen debajo del cuadro */
.product-dialog .image-name {
  grid-column: 1 / 2; /* Mantiene el nombre alineado con el cuadro */
  text-align: center;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #666;
}

/* Estilos para la sección del formulario en el diálogo de productos */
.product-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product-form .form-inputs {
  display: flex;
  flex-direction: column;
}

.product-form .form-inputs input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Estilos específicos para el diálogo de categorías, tamaños, colores y tipos */
.other-dialog {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.other-dialog h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.other-form {
  display: flex;
  flex-direction: column;
}

.other-form .form-inputs {
  display: flex;
  flex-direction: column;
}

.other-form .form-inputs input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Botones debajo de los inputs */
.dialog-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.dialog-buttons button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dialog-buttons button[type="button"] {
  background-color: #f44336;
}

.dialog-buttons button:hover {
  opacity: 0.9;
}

/* Estilos para los inputs en el diálogo de productos */
.product-form .product-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas */
  gap: 20px;
  margin-top: -17px;
}

.product-form .product-inputs .input-group {
  display: flex;
  flex-direction: column;
  margin-top: -20px;
}


.product-form .product-inputs label {
  margin-bottom: 5px;
  font-weight: bold;
}

.product-form .product-inputs input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Estilos para los inputs en los otros diálogos */
.other-form .other-inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.other-form .other-inputs .input-group {
  display: flex;
  flex-direction: column;
}

.other-form .other-inputs label {
  margin-bottom: 5px;
  font-weight: bold;
}

.other-form .other-inputs input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.full-width {
  grid-column: span 2;
}

.product-form .product-inputs textarea,
.product-form .product-inputs select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  resize: vertical; /* Permitir que el usuario ajuste la altura del textarea */
}

.product-form .product-inputs .input-group.full-width {
  grid-column: span 2; /* Hacer que el input ocupe ambas columnas */
}

/* Ajustar el label y el input/select dentro de input-group */
.input-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input,
.input-group textarea,
.input-group select {
  margin-bottom: 15px;
}
