<app-navbar></app-navbar>
<div class="dashboard-container">
  <!-- Barra Lateral -->
  <aside class="sidebar">
    <div class="sidebar-header">
      <h2>Liliana</h2>
    </div>
    <nav class="sidebar-nav">
      <ul>
        <li><a (click)="mostrarTabla('productos')"><i class="pi pi-box"></i> Productos</a></li>
        <li><a (click)="mostrarTabla('categorias')"><i class="pi pi-inbox"></i> Categorias</a></li>
        <li><a (click)="mostrarTabla('colores')"><i class="pi pi-palette"></i> Colores</a></li>
        <li><a (click)="mostrarTabla('tamanos')"><i class="pi pi-clone"></i> Tamaños</a></li>
        <li><a (click)="mostrarTabla('tipos')"><i class="pi pi-table"></i> Tipos</a></li>
        <li><a (click)="cerrarSesion()"><i class="pi pi-times-circle"></i> Cerrar Sesion</a></li>
      </ul>
    </nav>
  </aside>

  <!-- Contenido Principal -->
  <main class="main-content">
    <div class="header">
      <h1 class="welcome-message">{{ userName }}</h1>
    </div>

    <!-- Agregar las cards aquí -->
    <section class="cards-section">

      <div class="card blue">
        <i class="pi pi-box"></i>
        <h2>{{ tablaSeleccionada === 'productos' ? products.length :
                tablaSeleccionada === 'categorias' ? categorias.length :
                tablaSeleccionada === 'colores' ? colores.length :
                tablaSeleccionada === 'tamanos' ? tamanos.length :
                tablaSeleccionada === 'tipos' ? tipos.length : 0 }}</h2>
        <p>{{ tablaSeleccionada.charAt(0).toUpperCase() + tablaSeleccionada.slice(1) }} Publicados</p>
      </div>

      <div class="card purple">
        <i class="pi pi-clock"></i>
        <h2>{{ horaActual }}</h2>
        <p>{{ fechaActual }}</p>
      </div>

      <div class="card violet">
        <i class="pi pi-whatsapp"></i>
        <h2>23K</h2>
        <p>Mensajes Recibidos</p>
      </div>

      <!-- Card de agregar item con botón -->
      <div class="card orange">
        <i class="pi pi-users"></i>
        <p><button (click)="abrirDialogo()">{{ cardTitulo }}</button></p>
      </div>
    </section>

    <!-- Tabla dinámica según la opción seleccionada -->
    <section class="dynamic-table">
      <ng-container [ngSwitch]="tablaSeleccionada">
        <table class="product-table">
          <thead>
            <tr>
              <th *ngFor="let header of tablaHeaders">{{ header }}</th>
              <th>Acciones</th> <!-- Nueva columna para las acciones -->
            </tr>
          </thead>
          <!-- Productos -->
          <tbody *ngSwitchCase="'productos'">
            <tr *ngFor="let product of products">
              <td>{{ product.titulo }}</td>
              <td><img [src]="getProductImage(product.imagen)" alt="Product Image"></td>
              <td>{{ product.precio | currency:'USD':true:'1.0-0' }}</td>
              <td>{{ getNombreCategoria(product.idcategoria) }}</td>
              <td>{{ getNombreTipo(product.idtipo) }}</td>
              <td>{{ getNombreColor(product.idcolor) }}</td>
              <td>
                <!-- Botones de acciones -->
                <button class="action-button edit-button" (click)="editarProducto(product)">
                  <i class="pi pi-pencil"></i> Editar
                </button>
                <button class="action-button delete-button" (click)="eliminarProducto(product.idproducto)">
                  <i class="pi pi-trash"></i> Eliminar
                </button>
              </td>
            </tr>
          </tbody>

          <!-- Categorías -->
          <tbody *ngSwitchCase="'categorias'">
            <tr *ngFor="let categoria of categorias">
              <td>{{ categoria.nombre }}</td>
              <td>
                <button class="action-button edit-button" (click)="editarCategoria(categoria)">
                  <i class="pi pi-pencil"></i> Editar
                </button>
                <button class="action-button delete-button" (click)="eliminarCategoria(categoria.idcategoria)">
                  <i class="pi pi-trash"></i> Eliminar
                </button>
              </td>
            </tr>
          </tbody>

          <!-- Colores -->
          <tbody *ngSwitchCase="'colores'">
            <tr *ngFor="let color of colores">
              <td>{{ color.nombre }}</td>
              <td>{{ color.codigohex }}</td> <!-- Actualizado -->
              <td>
                <button class="action-button edit-button" (click)="editarColor(color)">
                  <i class="pi pi-pencil"></i> Editar
                </button>
                <button class="action-button delete-button" (click)="eliminarColor(color.idcolor)">
                  <i class="pi pi-trash"></i> Eliminar
                </button>
              </td>
            </tr>
          </tbody>

          <!-- Tamaños -->
          <tbody *ngSwitchCase="'tamanos'">
            <tr *ngFor="let tamano of tamanos">
              <td>{{ tamano.nombre }}</td>
              <td>
                <button class="action-button edit-button" (click)="editarTamano(tamano)">
                  <i class="pi pi-pencil"></i> Editar
                </button>
                <button class="action-button delete-button" (click)="eliminarTamano(tamano.idtamano)">
                  <i class="pi pi-trash"></i> Eliminar
                </button>
              </td>
            </tr>
          </tbody>

          <!-- Tipos -->
          <tbody *ngSwitchCase="'tipos'">
            <tr *ngFor="let tipo of tipos">
              <td>{{ tipo.nombre }}</td>
              <td>
                <button class="action-button edit-button" (click)="editarTipo(tipo)">
                  <i class="pi pi-pencil"></i> Editar
                </button>
                <button class="action-button delete-button" (click)="eliminarTipo(tipo.idtipo)">
                  <i class="pi pi-trash"></i> Eliminar
                </button>
              </td>
            </tr>
          </tbody>

        </table>
      </ng-container>
    </section>
  </main>
</div>

<!-- Diálogo dinámico para agregar y editar items -->
<div class="dialog" *ngIf="mostrarDialogo">
  <div class="dialog-content" [ngClass]="{'product-dialog': tablaSeleccionada === 'productos', 'other-dialog': tablaSeleccionada !== 'productos'}">
    <h2>{{ dialogTitle }}</h2>

    <!-- Cuadro para mostrar la imagen o un placeholder con botón dentro (solo para productos) -->
    <div class="image-upload" *ngIf="tablaSeleccionada === 'productos'">
      <img *ngIf="imagenPrevisualizacion" [src]="imagenPrevisualizacion" alt="Product Image"/>
      <span *ngIf="!imagenPrevisualizacion">Subir Imagen</span>
      <label for="imagen" class="upload-button">
        <input type="file" id="imagen" (change)="subirImagen($event)" name="imagen" accept="image/*" />
        Seleccionar archivo
      </label>
    </div>

    <!-- Formulario para agregar o editar items -->
    <div class="form-section" [ngClass]="{'product-form': tablaSeleccionada === 'productos', 'other-form': tablaSeleccionada !== 'productos'}">
      <form (ngSubmit)="agregarItem()">
        <div class="form-inputs" [ngClass]="{'product-inputs': tablaSeleccionada === 'productos', 'other-inputs': tablaSeleccionada !== 'productos'}">
          <ng-container [ngSwitch]="tablaSeleccionada">
            <!-- Campos para productos -->
            <div *ngSwitchCase="'productos'">
              <div class="input-group">
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" [(ngModel)]="nuevoItem.titulo" name="titulo" required />
              </div>
              <div class="input-group">
                <label for="precio">Precio:</label>
                <input type="number" id="precio" [(ngModel)]="nuevoItem.precio" name="precio" required />
              </div>
              <div class="input-group full-width">
                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" [(ngModel)]="nuevoItem.descripcion" name="descripcion" required></textarea>
              </div>
              <div class="input-group">
                <label for="categoria">Categoría:</label>
                <select id="categoria" [(ngModel)]="nuevoItem.categoriaId" name="categoriaId" required>
                  <option *ngFor="let categoria of categorias" [ngValue]="categoria.idcategoria">{{ categoria.nombre }}</option>
                </select>
              </div>
              <div class="input-group">
                <label for="color">Color:</label>
                <select id="color" [(ngModel)]="nuevoItem.colorId" name="colorId" required>
                  <option *ngFor="let color of colores" [ngValue]="color.idcolor">{{ color.nombre }}</option>
                </select>
              </div>
              <div class="input-group">
                <label for="tamano">Tamaño:</label>
                <select id="tamano" [(ngModel)]="nuevoItem.tamanoId" name="tamanoId" required>
                  <option *ngFor="let tamano of tamanos" [ngValue]="tamano.idtamano">{{ tamano.nombre }}</option>
                </select>
              </div>
              <div class="input-group">
                <label for="tipo">Tipo:</label>
                <select id="tipo" [(ngModel)]="nuevoItem.tipoId" name="tipoId" required>
                  <option *ngFor="let tipo of tipos" [ngValue]="tipo.idtipo">{{ tipo.nombre }}</option>
                </select>
              </div>
            </div>

            <!-- Campos para categorías -->
            <div *ngSwitchCase="'categorias'">
              <label for="nombreCategoria">Nombre de la Categoría:</label>
              <input type="text" id="nombreCategoria" [(ngModel)]="nuevoItem.nombre" name="nombre" required />
            </div>

            <!-- Campos para colores -->
            <div *ngSwitchCase="'colores'">
              <label for="nombreColor">Nombre del Color:</label>
              <input type="text" id="nombreColor" [(ngModel)]="nuevoItem.nombre" name="nombre" required />

              <label for="codigoHex">Código Hex:</label>
              <input type="text" id="codigoHex" [(ngModel)]="nuevoItem.codigoHex" name="codigoHex" required />
            </div>

            <!-- Campos para tamaños -->
            <div *ngSwitchCase="'tamanos'">
              <label for="nombreTamano">Tamaño:</label>
              <input type="text" id="nombreTamano" [(ngModel)]="nuevoItem.nombre" name="nombre" required />
            </div>

            <!-- Campos para tipos -->
            <div *ngSwitchCase="'tipos'">
              <label for="nombreTipo">Nombre del Tipo:</label>
              <input type="text" id="nombreTipo" [(ngModel)]="nuevoItem.nombre" name="nombre" required />
            </div>
          </ng-container>
        </div>

        <!-- Botones debajo de los inputs -->
        <div class="dialog-buttons">
          <button type="button" (click)="cerrarDialogo()">Cancelar</button>
          <button type="submit">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
